* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

@media (min-width: 1400px) {
  .custom-scrollbar {
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: rgba(34, 197, 94, 0.5) transparent;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(34, 197, 94, 0.35);
    border-radius: 9999px;
  }

  /* Hide scrollbar space when not scrolling */
  .custom-scrollbar::-webkit-scrollbar-thumb:vertical {
    min-height: 40px;
  }
}
